{% extends 'include/homepage.html'%}
{% load static %}
{% block content %}
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
{% include 'include/header.html' %}
    <!-- header-end -->

  <!-- bradcam_area_start -->
  <div class="bradcam_area breadcam_bg_1 overlay">
    <h3>about</h3>
</div>
<!-- bradcam_area_end -->
<!-- about_area_start -->
<div class="about_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about_thumb2">
                        <div class="img_1">
                            <img src="{% static 'img/about/1.png' %}" alt="">
                        </div>
                        <div class="img_2">
                            <img src="{% static 'img/about/2.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>About Us</span>
                            <h3>Best Burger <br>
                                    in your City</h3>
                        </div>
                        <p>
                            If you’re looking for the perfect combination of taste, quality, and atmosphere, our burger is exactly what you need! We use only fresh ingredients: juicy meat, crispy vegetables, and a soft, melt-in-your-mouth bun. Every burger is made with love and attention to detail so you can enjoy every bite.  
                            
                            We take pride in our unique approach to creating burgers. From classic recipes to signature combinations, we have something special for everyone. Try our famous "Gourmet Burger" with caramelized onions, signature sauce, and tangy cheese, or explore our vegetarian range for those who prefer light and healthy options.  
                            
                            Don’t forget about our delicious sides and refreshing drinks that perfectly complement your burger. Our guests always leave happy because we know how to bring true gastronomic joy.  
                            
                            Visit us to discover a new level of flavor! The best burger in your city is waiting for you! 🍔</p>
                        <div class="img_thumb">
                            <img src="{% static 'img/jessica-signature.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- gallery_start -->
    <div class="gallery_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                            <div class="section_title mb-70 text-center">
                                    <span>Gallery Image</span>
                                    <h3>Our Gallery</h3>
                                </div>
                    </div>
                </div>
            </div>
            <div class="single_gallery big_img">
                    <a class="popup-image" href="{% static 'img/gallery/1.png' %}">
                        <i class="ti-plus"></i>
                    </a>
                <img src="{% static 'img/gallery/1.png' %}" alt="">
            </div>
            <div class="single_gallery small_img">
                <a class="popup-image" href="{% static 'img/gallery/2.png' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'img/gallery/2.png' %}" alt="">
            </div>
            <div class="single_gallery small_img">
                <a class="popup-image" href="{% static 'img/gallery/3.png' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'img/gallery/3.png' %}" alt="">
            </div>
    
            <div class="single_gallery small_img">
                <a class="popup-image" href="{% static 'img/gallery/4.png' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'img/gallery/4.png' %}" alt="">
            </div>
            <div class="single_gallery small_img">
                <a class="popup-image" href="{% static 'img/gallery/5.png' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'img/gallery/5.png' %}" alt="">
            </div>
            <div class="single_gallery big_img">
                <a class="popup-image" href="{% static 'img/gallery/6.png' %}">
                    <i class="ti-plus"></i>
                </a>
                <img src="{% static 'img/gallery/6.png' %}" alt="">
            </div>
        </div>

    <!-- testimonial_area_start  -->
    <div class="testimonial_area ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-60 text-center">
                        <span>Testimonials</span>
                        <h3>Happy Customers</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <p>“Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                            sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec
                                            sed
                                            neque.</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                <img src="{% static 'img/testmonial/1.png' %}" alt="">
                                            </div>
                                            <h4>Kristiana Chouhan</h4>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <p>“Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                            sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec
                                            sed
                                            neque.</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                <img src="{% static 'img/testmonial/2.png' %}" alt="">
                                            </div>
                                            <h4>Arafath Hossain</h4>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <p>“Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                            sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec
                                            sed
                                            neque.</p>
                                       
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- testimonial_area_ned  -->

<!-- instragram_area_start -->
<div class="instragram_area">
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="single_instagram">
                <img src="{% static 'img/instragram/1.png' %}" alt="">
                <div class="ovrelay">
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single_instagram">
                <img src="{% static 'img/instragram/2.png' %}" alt="">
                <div class="ovrelay">
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single_instagram">
                <img src="{% static 'img/instragram/3.png' %}" alt="">
                <div class="ovrelay">
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single_instagram">
                <img src="{% static 'img/instragram/4.png' %}" alt="">
                <div class="ovrelay">
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- instragram_area_end -->


    {% include 'include/footer.html' %}
{% endblock %}